<div class="hero-unit">
  <h1>Holly - Tenth Generation AI Computer</h1>
  <h2>IQ: 6000</h2>
<blockquote class="well">

  <p class="text-info">Well he used to have an IQ of 6000. Now he can answer any question as long as it's in the following format: </p>
  <p> What is <strong>[number] {operation} [number]</strong> <em>{operation} [number]</em> ?</p>

  <br>
  <p>Example: What is 70 plus 3 multiplied by 10?</p>
  <p>Example: What is 70 divided by 10?</p>

  <br>
  <p class="text-info">Holly also accepts voice input if you're using Google Chrome!</p>
</blockquote>

  <h4>Valid operations:</h4>
  <ul>
    <li>plus</li>
    <li>minus</li>
    <li>multiplied by</li>
    <li>divided by</li>
  </ul>


<div class="well">
  <!-- Greeting -->
  <h3><span class="text-success">Holly: What's happening, dudes?</span></h3>

  <!-- Input from User -->
  <div class="input-append">
  <%= form_tag wordproblems_answer_path, remote: true, :authenticity_token => true do %>
    <%= text_field_tag :question, "", :"x-webkit-speech" => "" %>
    <%= submit_tag "Calculate", class: "btn btn-primary"  %>
  <% end %>
  </div>

  <!-- Holly Answers -->
  <% if flash[:alert] %>
    <%= render 'validationerrors' %>
  <% end %>
  <div id="answer">
  </div>
</div>


</div>




