<div class="hero-unit">
  <h1>Enter your question here</h1>
  <p>Follow this format: What is 4 plus 8?</p>

  <div class="input-append">
  <%= form_tag wordproblems_answer_path, remote: true, :authenticity_token => true do %>
    <%= text_field_tag :question, "", :"x-webkit-speech" => "" %>
    <%= submit_tag "Calculate", class: "btn btn-primary"  %>
  <% end %>
  </div>

</div>

<% if flash[:alert] %>
  <%= render 'validationerrors' %>
<% end %>

<div id="answer">
</div>


