<!DOCTYPE html>
<html>
<head>
  <title>WordProblemApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container-fluid">

<div class="hero-unit">
  <h1>Holly - Tenth Generation AI Computer</h1>
  <h2>IQ: 6000</h2>
</div>

<div class="row-fluid">
  <%= yield %>
</div>

</body>
</html>
